scripts/__pycache__
scripts/*.json
scripts/slurm*
scripts/workflows/*/slurm*
scripts/workflows/illumina/.snakemake
scripts/workflows/pacbio/.snakemake
scripts/filesystem/__pycache__
scripts/tmp.py
plots/effects/
